html, body {
	background-color: #792357;
	height: 100%;
}

main {
	margin-bottom: 80px;
}

.borda {
	border: 1px solid #792357;
	border-radius: 5px;
}

#modalAlerta {
	border: 10px solid #792357;
	border-radius: 5px;
}

.padding {
	padding: 10px;
}

.paddingtopo {
	padding-top: 10px !important;
}

.topo {
	margin-top: -20px;
}

.bold {
	font-weight: 900;
	font-size: 20px;
}

.tamanhopadrao {
	width: 100%;
	height: 50px;
}

.textopequeno {
	font-size: 11px !important;
}

.topoinside {
	margin-top: -14px;
}

.fim {
	padding-bottom: 10px !important;
}


@media screen and (max-width: 500px) {
	.fim2 {
		padding-bottom: 10px !important;
	}
}

@media screen and (min-width: 502px) and (max-width: 1110px) {
	.fim2 {
		padding-bottom: 112px !important;
	}
}

@media screen and (min-width: 1126px) {
	.fim2 {
		padding-bottom: 64px !important;
	}
}

.fundoroxo {
	background-color: #792357 !important;
}

.fundoamarelo {
	background-color: rgb(248, 231, 28) !important;
}

.fundoverde {
	background-color: #9CCF31 !important;
	color: #792357;
}

.fundovermelho {
	background-color: #ce0000 !important;
	color: #efb824;
}

.textovermelho {
	color: #efb824;
}

.textoamarelo {
	color: rgb(248, 231, 28) !important;
}

.textomostarda {
	color: #efb824 !important;
}

.textoroxo {
	color: #792357 !important;
}

.parallax-container {
  	height: 120px;
  	background: #BDBDBD;
  	z-index: 0;
  	margin-top: -10px
}

.alerta-topo {
	position: absolute;
	top: 72px;
	right: 75px;
	z-index: 9999;
}

@media screen and (max-width: 500px) {
	.alerta-topo {
		position: absolute;
		top: 40px;
		right: 12px;
		z-index: 9999;
	}
}

a:link, a:visited {
	text-decoration: none;
	color: azure;
}

a:hover {
	text-decoration: none;
	color: azure;
}

a:active {
	text-decoration: none;
	color: azure;
}